@font-face {
    font-family: 'Public Sans';
    src: url('../font/PublicSans-VariableFont_wght.ttf');

}
@font-face {
    font-family: 'Ibarra Real Nova';
    src: url(../font/IbarraRealNova-VariableFont_wght.ttf);
    
}